/*.someTitle {
  margin-top: 42px;
}*/

.thumbNailContainer {
  position: relative;
  width: 150px;
  height: 150px;
  transition: all 100ms linear;
}

.thumbNailContainer img{
  position: absolute;
  width: 150px;
  height: 150px;
  top: 0px;
  left: 0px;
}

.hideLoadingGif {
  display: none;
}

#myModal {
  top: 40%;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

#myModal .modal-body{
  max-height: 100%;
  padding: 0px;
}

.largerNASAPic {
  margin: auto auto;
  display: block;
}



/*calendar related*/
.calendar{
  width: 17.5em;
  text-align: center;
  height: 16em;
}
.calendar td {
  width: 2.5em;

  outline: 1px aqua grey;
}

.calendar .weekDayLabel {
  color: white;
  background-color: grey;
}

.calendarChangeMonth{
  width: 20%;
}

.calendarCurrentMonth{
  width: 60%;
  display: inline-block;
  /*text-align: center;*/
  margin-left: auto;
  margin-right: auto;
}
