.someTitle {
  margin-top: 42px;
}

.thumbNail {
  width: 150px;
  height: 150px;
  transition: all 100ms linear;
}

.modal {

}

#myModal {
  top: 40%;
  left: 0px;
  right: 0px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  width: 80%;
  height: 80%;
  overflow: hidden;
}

#myModal .modal-body{
  max-height: 100%;
  padding: 0px;
}

.largerNASAPic {
  margin: auto auto;
  display: block;
}
